@import url('https://fonts.googleapis.com/css?family=Nunito:400&display=swap');

.App {
  text-align: center;
	font-family: 'Nunito', sans-serif;
}

.borda {
	border: 1px solid gray;
}

.textArea {
  width: 100%;
  height: 500px;
  resize: none;
}

.esquerda {
  text-align: left;
}

.direita {
  text-align: right;
}

.colorLight {
  color: rgb(255, 255, 255);
}

.reSize {
  resize: none;
  overflow-y: scroll;
  width: 100%;
}

.scrollspy {
  position: relative;
  overflow: auto;
  height: 300px;
}

.container-comments {
  background: #BFD1D9;
  display: grid;
  padding: 1em;
  border-radius: 10px;
  text-align: left;
}

#navbar {
	font-size: 1rem;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  background-color: rgb(27, 29, 35) !important;
}

#matricula {
	border-radius: 4px;
	border-style: none;
	height: 30px;
	margin-bottom: 6px;
	margin-top: 3px;
}

input::-webkit-input-placeholder {
	padding-left: 4px;
}

#titulo {
	font-size: 1rem;
	font-weight: 600;
	margin-top: 3px;
}

#input-textarea {
	height: 161px;
}

#teste {
	padding-top: 10px;
	padding-bottom: 12px;
}

#outroteste {
	margin-bottom: 10px;
}

@media screen and (min-width: 622px) {
	#body {
		margin-top: 130px;
	}
}

@media screen and (max-width: 574px) {
  #matricula, #titulo {
		margin-left: 25px;
  }
}

@media screen and (width: 320px) {
	#matricula, #titulo {
		margin-left: 18px;
  }
}

@media screen and (max-width: 575px) {
	.borda {
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 10px;
	}
	#body {
		width: auto;
	}
}

/*
.recharts-wrapper {
	width: 100% !important;
	height: 100% !important;
}

.recharts-wrapper > svg {
	width: 100% !important;
	height: 100% !important;
}

.recharts-legend-wrapper {
	width: 100% !important;
	height: 100% !important;
	left: 0;
	bottom: 0;
	position: static !important;
}
*/
